---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


/* Solarized Light syntax highlighting */
$base00: #fafafa !default;
$base01: #073642 !default;
$base02: #586e75 !default;
$base03: #657b83 !default;
$base04: #839496 !default;
$base05: #586e75 !default;
$base06: #eee8d5 !default;
$base07: #fdf6e3 !default;
$base08: #dc322f !default;
$base09: #cb4b16 !default;
$base0a: #b58900 !default;
$base0b: #859900 !default;
$base0c: #2aa198 !default;
$base0d: #268bd2 !default;
$base0e: #6c71c4 !default;
$base0f: #d33682 !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead__inner-wrap {
  // Like #main
  @include clearfix;
  display: block;
}

.masthead__menu {
  // Like .page
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

// Alternate style for code block with slightly smaller font
.code-small div {
  font-size: 0.6em !important;
}

// Match margins around code blocks
.no-gap {
  margin-bottom: 0 !important;
}
.no-gap + .highlighter-rouge {
  margin-top: 1em !important;
}

// Make gists scroll
.gist-data {
    height: 75vh;  // 75% of viewport height
    overflow-y: visible;
}

// Parts list
.parts-list td {
  padding: 0.1em;
}
.parts-list p {
  // Remove large margin
  margin-bottom: 0;
}
.parts-list td:first-child {
  @include breakpoint($small) {
    width: 20%;
  }
  width: 30%;
  min-width: 50px;
}
.parts-list td:last-child p {
  margin-left: 0.5em;
}
.parts-list ul {
  // Remove large margin
  margin: 0.5em 0 0 0;
}

// Centered figure
figure.center {
  > a,
  > img {
    @include breakpoint($small) {
      width: calc(70% - 0.5em);
      margin: 0 auto 0 auto;
    }
    width: 100%;
  }

  figcaption {
    padding-left: 1em;
    padding-right: 1em;
    @include breakpoint($small) {
      width: 70%;
      margin: 0 auto 0 auto;
    }
    width: 100%;
  }
}

// Override
figure {
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 0.3em !important;
  }
}

// Add border around inline code
p > code,
a > code,
li > code,
figcaption > code,
td > code {
  border: 1px solid $border-color;
}
